name: vehicle_tax_collector
description: Vehicle Tax Collector Flutter App
publish_to: 'none'

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.6
  shared_preferences: ^2.2.2

flutter:
  uses-material-design: true

  assets:
    - assets/images/garowe_logo.jpg
